/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
    --first: #ff1e42;
    --second: #ff7e5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    margin: 100px 100px;
    background-color: rgb(225, 225, 238);
}

nav {
    /* background: linear-gradient(to right, var(--first), var(--second)); */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
    font-size: 250%;
}

a {
    color: red;
    text-decoration: none;
    display: inline;
    text-align: center;
    margin: 16px 0px;
    text-decoration: underline;
}

p {
    color: black;
    display: inline-table;
}

img {
    height: 200px;
}

html {
    height: 100%;
    width: 100%;
}

h1,
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
    font-size: 250%;
}

.headtag {
    margin-top: 20px;
}

h3 {
    background: linear-gradient(to right, var(--first), var(--second));
    text-align: center;
    padding: 30px;
}

.title {
    background: linear-gradient(to right, var(--first), var(--second));
    padding: 20px;
}

.subtitle {
    padding: 20px;
    font-size: 150%;
}

div {
    padding: 20px;
}

.stats-container {
    text-align: center;
    color: darkblue;
    float: right;
    display: inline-block;
}

.location-container {
    display: inline-block;
    color: darkblue;
}

.data-container {
    border: 2px solid var(--first);
    margin-right: 30%;
    margin-left: 30%;
}

h4 {
    font-size: 100%;
    text-align: center;
    color: rgb(30, 30, 197);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.row {
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.footer {
    font-family: "Roboto", sans-serif;
    bottom: 0;
    font-size: 75%;
    padding: 5px;
}