/* Universal styles */

:root {
  --first: #f9f8f0;
  --second: #f7ebdd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: Gelasio;
}

body {
  margin: 0;
  padding: 0;
}
HEAD h1 {
  font-family: "Gelasio", sans-serif;
  font-weight: 300;
  background: white;
  text-align: center;
  padding-bottom: 20px;
  font-size: 175%;
}

h2 {
  font-family: "Gelasio", sans-serif;
  font-weight: 300;
  background: linear-gradient(to right, var(--first), var(--second));
  text-align: center;
  padding-bottom: 20px;
  font-size: 250%;
}
h3 {
  background: linear-gradient(to right, var(--first), var(--second));
  text-align: center;
  padding: 30px;
}

h4 {
  font-size: 100%;
  text-align: center;
  color: rgb(30, 30, 197);
  font-family: "Gelasio", sans-serif;
  font-weight: 300;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

a {
  color: blue;
  font: Gelasio;
  text-decoration: none;
  display: inline;
  text-align: center;
  margin: 16px 0px;
  text-decoration: underline;
}

a:hover,
a.active {
  background: none;
}

p {
  color: black;
  display: inline-table;
}

img {
  height: 200px;
}

a {
  color: blue;
  font: Gelasio;
  text-decoration: none;
  display: inline;
  text-align: center;
  margin: 16px 0px;
}

a:active {
  color: none;
}

p {
  color: black;
  display: inline-table;
}

img {
  height: 200px;
}

div {
  padding: 20px;
}

h1 {
  font-family: "Gelasio", sans-serif;
  font-weight: 300;
  background: white;
  text-align: center;
  padding-bottom: 20px;
  font-size: 175%;
}

h2 {
  font-family: "Gelasio", sans-serif;
  font-weight: 300;
  background: linear-gradient(to right, var(--first), var(--second));
  text-align: center;
  padding-bottom: 20px;
  font-size: 250%;
}

h3 {
  background: linear-gradient(to right, var(--first), var(--second));
  text-align: center;
  padding: 30px;
}

h4 {
  font-size: 100%;
  text-align: center;
  color: rgb(30, 30, 197);
  font-family: "Gelasio", sans-serif;
  font-weight: 300;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

/* universal styles end */

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  opacity: 0.6;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-link ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-link li {
  list-style: none;
}

.navbar-link li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  display: block;
}

.navbar-link li:hover {
  background-color: white;
  opacity: 0.8;
  box-shadow: 0 0 10px white;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* nav bar end */

/* logo on nav bar */

.logo {
  color: black;
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
}

/* nav bar ends */

/* CoronaVirus Animation
Default speed is: 10s
MoveUpDown is a keyFrames that define the position*/
.animatediv {
  animation: MoveUpDown 10s linear infinite;
  position: absolute;
  right: 300px;
}
/* position of corona animation */
@keyframes MoveUpDown {
  0%,
  100% {
    top: 150px;
  }
  50% {
    top: 250px;
  }
}

/* Animation end */

/* banner */

.banner {
  width: 100vw;
  height: 333px;
  display: block;
}

.banner-image {
  width: 100%;
  height: 100%;
  display: block;
}

/* banner end */

/* covid tracker section */

.headtag {
  margin-top: 20px;
  font-family: gelasio;
}
.subtitle {
  padding: 20px;
  font-size: 150%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--second);
  padding: 20px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  font-family: gelasio;
  text-align: center;
}

/* covid tracker section end */

/* about project section */
.about-section {
  text-align: center;
}

.title {
  background: linear-gradient(to right, var(--first), var(--second));
  padding: 20px;
}

.section {
  background-color: transparent;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: darkcyan;
  color: white;
  text-decoration: none;
  text-align: center;
}

.team-card {
  align-items: center;
}

.card {
  align-items: center;
}

.content {
  align-items: center;
}

.image-section {
  align-items: center;
}

.quote {
  opacity: 50%;
}

/* About project end */

/* Media quieries */

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .navbar-link {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-link ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-link li {
    text-align: center;
  }

  .navbar-link li a {
    padding: 0.5rem 1rem;
  }

  .navbar-link.active {
    display: flex;
  }
}

@media (min-width: 980px) and (max-width: 1199.98px) {
  .grid-container {
    display: block;
  }
  .covidwatch {
    display: block;
  }
  .data-container {
    display: block;
  }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .grid-container {
    display: block;
  }
  .covidwatch {
    display: block;
  }
  .data-container {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .grid-container {
    display: block;
  }
  .covidwatch {
    display: block;
  }
  .data-container {
    display: block;
  }
}
